body {
  background-color: black;
  color: white;
  text-align: center;
}
.btn.dropdown-toggle  {
    width:150px;
    text-align: center;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}
/* Green color: 3b7d4a */
.btn-success {
    background-color: #ea638c!important;
}

.btn-success:hover {
    background-color: #ea638c!important;
}

img.track {
    border: 1px solid #8a8a8a;
}

ul {
  list-element: white;
  color: white;
}
